/* header */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 92px;
  font-size: 18px;
}

/* меню */
.header__links-list {
  display: flex;
  gap: 32px;
  list-style: none;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  color: black;
  text-decoration: underline;
}

.header__link_active {
  text-decoration: none;
  list-style: none;
  color: black;
}

/* logo */
.header__logo {
  width: 136px;
}

/* адрес */
.address {
  max-width: 240px;
  font-style: normal;
  line-height: 24px;
  font-size: 18px;
  color: #000;
  text-decoration: none;
}

.address a {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.header__address {
  justify-self: end;
}

/* cover */
.cover {
  position: relative;
  background: url("../images/cover.jpg") center/cover no-repeat;
  min-height: 759px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 165px 50px 51px;
}

/* overlay */
.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

/* текст */
.cover__title {
  position: relative;
  font: 700 100px/115px "Raleway", sans-serif;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 20px;
  letter-spacing: 0.3em;
  z-index: 2;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

/* описание */
.cover__description {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.cover__description-text {
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 19px;
  color: #fff;
}

.letter-spacing-extended {
  letter-spacing: 0.3em;
  margin-right: -0.3em;
}

/* кнопка */
.bet-button {
  padding: 12px 32px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  cursor: pointer;
}

/* lots */
.lots {
  margin-top: 180px;
  margin-left: 24px;
  margin-right: 24px;
}

.lots__heading {
  font: 700 40px "Raleway", sans-serif;
  text-transform: uppercase;
  margin: 0 0 27px 40px;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  position: relative;
  height: 596px;
  background-size: cover;
  background-position: center;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
  color: #fff;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: #fff;
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: underline;
  padding: 48px 40px 0;
  margin: 0;
  z-index: 2;
}

.card__text {
  font-size: 20px;
  line-height: 1.2;
  margin: 0 40px 48px;
  z-index: 2;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lots__look-more-link {
  display: inline-block;
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

/* about */
.about {
  margin: 120px 24px 0;
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  margin-top: 37px;
}

.about__logo-image {
  width: 148px;
}

.about__column {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: end;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 136px;
  margin-bottom: 76px;
}

.about__text {
  display: grid;
  grid-template-columns: 1fr;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  row-gap: 24px;
}

/* footer */
.footer {
  margin: 180px 50px 0 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 10px;
}

/* адрес */
.footer-address {
  font-size: 18px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  font-style: normal;
}

.footer-address_link {
  color: black;
  text-decoration: underline;
  line-height: 24.3px;
}

/* меню */
.footer__menu-list {
  text-align: center;
  list-style: none;
  font-size: 18px;
  line-height: 1.2;
}

.footer__menu-link_active {
  text-decoration: none;
}

/* соцсети */
.footer__social-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-end;
  column-gap: 48px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
